@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	scrollbar-width: thin;
	scrollbar-color: #111 #222;
}

.hello {
	animation: spin 3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 5px;
}

*::-webkit-scrollbar-track {
	background: #111;
}

*::-webkit-scrollbar-thumb {
	background-color: #222;
	border-radius: 14px;
}
*::-webkit-scrollbar-thumb:hover {
	background-color: #333;
}

@keyframes spin {
	0% {
		transform: rotate(-10deg);
	}
	50% {
		transform: rotate(10deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}
